<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,height=device-height,maximum-scale=1.0,user-scalable=no">
  <meta name="screen-orientation" content="portrait">

  <title><%= title %></title>
</head>
<body>
233
</body>

</html>
